* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(255, 165, 0, 0.2);
    width: 350px;
    text-align: center;
}

h2 {
    color: #ff9f1c;
    margin-bottom: 20px;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    color: #ccc;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ff9f1c;
    border-radius: 6px;
    background-color: #262626;
    color: #fff;
}

.btn {
    background-color: #ff9f1c;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #ffa733;
}

.register-link {
    margin-top: 10px;
}

.register-link a {
    color: #ff9f1c;
    text-decoration: none;
}
